[submodule "game"]
	path = game
	url = https://github.com/mesecons-lab/mesecons_lab
[submodule "worldmods/monitoring"]
	path = worldmods/monitoring
	url = https://github.com/minetest-monitoring/monitoring
