[submodule "game"]
	path = game
	url = https://github.com/mesecons-lab/mesecons_lab
[submodule "worldmods/monitoring"]
	path = worldmods/monitoring
	url = https://github.com/minetest-monitoring/monitoring
[submodule "worldmods/beerchat"]
	path = worldmods/beerchat
	url = https://github.com/mt-mods/beerchat/
[submodule "worldmods/mtui"]
	path = worldmods/mtui
	url = https://github.com/minetest-go/mtui
[submodule "worldmods/xban2"]
	path = worldmods/xban2
	url = https://github.com/minetest-mods/xban2
